@font-face {
  font-family: 'PT Root VF';
  src:
          url('../fonts/PTRootVF/PTRootVF-Regular.woff2') format('woff2'),
          url('../fonts/PTRootVF/PTRootVF-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root VF';
  src:
          url('../fonts/PTRootVF/PTRootVF-Medium.woff2') format('woff2'),
          url('../fonts/PTRootVF/PTRootVF-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root VF';
  src:
  url('../fonts/PTRootVF/PTRootVF-DemiBold.woff') format('woff'),
  url('../fonts/PTRootVF/PTRootVF-DemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}



@font-face {
  font-family: 'PT Root VF';
  src:
          url('../fonts/PTRootVF/PTRootVF-Light.woff2') format('woff2'),
          url('../fonts/PTRootVF/PTRootVF-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root VF';
  src:
          url('../fonts/PTRootVF/PTRootVF-ExtraLight.woff2') format('woff2'),
          url('../fonts/PTRootVF/PTRootVF-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'PT Root VF';
  src:
          url('../fonts/PTRootVF/PTRootVF-Bold.woff2') format('woff2'),
          url('../fonts/PTRootVF/PTRootVF-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
